<div class="container">
  <div class="card" draggable="true" (drag)="getDragEvent($event)" >
    <div class="row">
      <div class="row-element">
        <label for="selectCategory">Select Category</label>
      </div>
      <div class="row-element">
        <select name="selectCategory" id="selectCategory" (change)="selectedCategory($event)" >
        @for(category of bookCategories; track category){
            <option [value]="$index">{{category.category}}</option>
          }
        </select>
      </div>
    </div> 
      @if(isFields()){
        <form action="" [formGroup]="categoryForm" >
          <table>
            @for(field of fields; track field){
              @if(!field.hidden){
                <tr>
                  <td>
                    <div class="row-element">
                      <label [for]="field.label" [className]="field.mandatory ? 'mandatory' : '' " >{{field.label}}</label>
                    </div>
                  </td>
                  <td>
                    <div class="row-element">
                      @if(field.type == 'select'){
                        <select [name]="field.label" [id]="field.label" [formControlName]="field.label" >
                          @for(option of field.options; track option){
                            <option [value]="option">{{option}}</option>
                          }
                        </select>
                      } @else if(field.type == "text" || field.type == "number"){ 
                        <input [type]="field.type" [name]="field.label" [id]="field.label" [formControlName]="field.label" >
                      } @else if(field.type == "textarea"){
                        <textarea [name]="field.label" rows="10" cols="20" [id]="field.label" [formControlName]="field.label" ></textarea>
                      }
                    </div>
                  </td>
                </tr>
              }
            }
          </table>
        </form>
        <div class="button_group row" >
          <button [disabled]="categoryForm.status == 'INVALID'" (click)="categoryForm.status == 'VALID' &&submit()" >Submit</button>
        </div>
      }
  </div>
</div>